
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #c00;
  --link-hover-color: #1d3ecf;
  --body-font-family: "VVCentra2", "VVCentra2 Fallback", "Helvetica", "Arial", "sans-serif";
  --heading-font-family: "VVCentra2", "VVCentra2 Fallback", "Helvetica", "Arial", "sans-serif", "Headline";
  --body-font-size-m: 24px;
  --body-font-size-s: 17px;
  --body-font-size-xs: 15px;
  --heading-font-size-xxl: 20px;
  --heading-font-size-xl: 3.125rem;
  --heading-font-size-l: 17px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 17px;
  --heading-font-size-xs: 15px;
  --nav-height: 100px;
  --header-height: var(--nav-height);
}

/* fallback fonts */
@font-face {
  font-family:"VVCentra2 Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:95.65%;
  descent-override:28.69%;
  line-gap-override:0.00%;
  size-adjust:104.55%;
}

@font-face {
  font-family:"VVCentra2 Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:96.91%;
  descent-override:29.07%;
  line-gap-override:0.00%;
  size-adjust:103.19%;
}

@font-face {
  font-family:"VVCentra2 Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:100.03%;
  descent-override:30.01%;
  line-gap-override:0.00%;
  size-adjust:99.97%;
}

@font-face {
  font-family:"VVCentra2 Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:94.07%;
  descent-override:28.22%;
  line-gap-override:0.00%;
  size-adjust:106.30%;
}

@font-face {
  font-family: "Headline";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:94.07%;
  descent-override:28.22%;
  line-gap-override:0.00%;
  size-adjust:106.30%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 24px;
    --body-font-size-s: 17px;
    --body-font-size-xs: 15px;
    --heading-font-size-xxl: 20px;
    --heading-font-size-xl: 3.125rem;
    --heading-font-size-l: 17px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 17px;
    --heading-font-size-xs: 15px;
    --nav-height: 100px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  text-align: center;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: .2em;
  padding: 1.5em 3.5em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 58rem;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

.section.section-1 {
  background: rgb(255 255 255) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-2 {
  background: rgb(21 21 21) url("https://virginvoyages.imgix.net/dam/jcr:2a0bab09-d2f0-4870-a421-45dffabfbc21/bar-tab-storyblock-slideshow-background.png") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-3 {
  background: rgb(21 21 21) url("https://virginvoyages.imgix.net/dam/jcr:c5f2b891-28fe-4eda-9b98-492b16f55b49/ILL-BRAND-virgin-logo-white-v1-01-672x544.png") no-repeat scroll calc(100% + 40px) calc(100% + 32px) / 314px 278px padding-box border-box;
}

.section.section-4 {
  background: rgb(0 0 0 / 0%) url("https://virginvoyages.imgix.net/dam/jcr:6847bc3d-76c6-4203-ab74-b0e373542a7e/IMG-SHP-scarlet-lady-exterior-v1-FIL_CF003778_V5-1600x900.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-5 {
  background: rgb(0 0 0 / 0%) linear-gradient(rgb(204 0 0), rgb(60 16 83)) repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-6 {
  background: rgb(21 21 21) none repeat scroll 0% 0% / auto padding-box border-box;
  color: #FFF;
  padding: 32px;
  margin: 0;
}

.section.section-7 {
  background: rgb(25 25 25 / 20%) none repeat scroll 0% 0% / auto padding-box border-box;
}